{% extends 'base.html.twig' %}

{% block title %}Bookings{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-5 mb-5 text-center">Bookings</h1>
    {% if bookings %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Booking id</th>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Room Number</th>
                    <th>Room Type</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.id }}</td>
                        <td>{{ booking.name }}</td>
                        <td>{{ booking.startDate|date('F j, Y, g:i a') }}</td>
                        <td>{{ booking.endDate|date('F j, Y, g:i a') }}</td>
                        <td>{{ booking.room.id }}</td>
                        <td>{{ booking.room.type }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No bookings to Display</p>
    {% endif %}
</div>
{% endblock %}
